<section>
  <form>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput type="email" required />
      <mat-icon matSuffix>email</mat-icon>
      <mat-error>Veuillez entrer une adresse email valide</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Mot de passe</mat-label>
      <input matInput type="password" required />
      <mat-icon matSuffix>lock</mat-icon>
      <mat-error>Le mot de passe est requis</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary">S'inscrire</button>
  </form>
</section>
