<mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{ postCar.userProfile.firstName }}</mat-card-title>
    <mat-card-subtitle>{{ postCar.userProfile.lastName }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-footer>
    <a mat-list-item [routerLink]="postCar.id?.toString()">
      <ng-container *ngIf="postCar.imageUrl; else defaultImage">
        <img mat-card-image [src]="postCar.imageUrl" [alt]="postCar.modele" />
      </ng-container>
      <ng-template #defaultImage>
        <img
          mat-card-image
          src="https://cdn.pixabay.com/photo/2012/04/12/23/48/car-30990_640.png"
          [alt]="postCar.modele"
        />
      </ng-template>
      <mat-card-content class="mat-card-content">
        <mat-card-title>{{ postCar.marque }}</mat-card-title>
        <mat-card-subtitle>{{ postCar.modele }}</mat-card-subtitle>
        <mat-card-subtitle>{{
          postCar.color.color | titlecase
        }}</mat-card-subtitle>
        <mat-card-subtitle>{{
          postCar.annee | date : "yyyy"
        }}</mat-card-subtitle>
      </mat-card-content>
      <mat-card-content>
        <mat-card-subtitle>{{ postCar.immatriculation }}</mat-card-subtitle>
      </mat-card-content>
    </a>
  </mat-card-footer>
</mat-card>
