.mat-card-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.single-car-container {
  display: flex;
  justify-content: center;
}
.example-card {
  max-width: 800px;
}

.single-car-container {
  margin-top: 200px;
}
